.chat-message-form {
  display: flex;
  flex-direction: row;

  button {
    flex: 0 0 auto;
    border-radius: 30px;
    width: 60px;
    height: 60px;
  }

  textarea {
    flex: 1 0 auto;
    margin: 0 1em;
  }
}
