<form class="chat-message-form">
  <button>
    <img src="{{iconAttach}}" alt="Прикрепить изображение" />
  </button>
  <textarea name="message"></textarea>
  <button type="submit">
    <img src="{{iconArrowRight}}" alt="Отправить сообщение" />
  </button>
</form>
