<div id="chat-list-container">
  {{{sidebar}}}
  <div id="chat-view">
    <div class="vertical-alignment-outer">
      <div class="vertical-alignment-inner no-items">Выберите чат, чтобы написать сообщение</div>
    </div>
  </div>
</div>
