<div class="centered-form">
  <div id="change-photo-form" class="form">
    {{{avatar}}}
    <div class="actions">
      {{{chageAvatarLink}}}
    </div>
  </div>
  {{{form}}}
  {{{changeAvatarModal}}}
</div>
