---
id: "root"
---

<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../styles/styles.pcss"/>
  <title>5xx</title>
</head>
<body>
  <main>
    <div id="{{id}}">
      <div class="error-page-content">
        <h1>5xx</h1>
        <h2>Ooooops! Мы уже работаем над устранением технических неполадок.</h2>
        <p><a href="../../static/index.hbs">Назад к чатам</a></p>
      </div>
    </div>
  </main>
</body>
</html>
