<div id="auth-form">
  <form class="form">
    {{> field name="login" label="Логин" mandatory=true}}
    {{> field name="password" type="password" label="Пароль" mandatory=true}}
    {{> submitButton to="chatListPage" title="Войти"}}
    <div class="actions">
      <div><a onclick="goTo('registrationPage')">Зарегистрироваться</a></div>
    </div>
  </form>
</div>
