<div>
  <div id="change-photo-modal-background"></div>
  <div id="change-photo-modal">
    <form>
      <div class="field">
        <h2>Загрузите фото</h2>
      </div>
      <div class="field">
        <a>Выберите фото на компьютере</a>
        <input type="file" name="avatar" />
      </div>
      {{> submitButton to="profilePage" title="Сохранить"}}
    </form>
  </div>
</div>
