<div id="profile-form">
  <div id="change-photo-form" class="form">
    {{> photoPreview title=first_name size="large"}}
  </div>
  <form class="form">
    {{> field name="oldPassword" type="password" label="Старый пароль" mandatory=true}}
    {{> field name="newPassword" type="password" label="Новый пароль" mandatory=true}}
    {{> field name="repeatPassword" type="password" label="Повторите новый пароль" mandatory=true}}
    {{> submitButton to="authPage" title="Изменить пароль"}}
  </form>
</div>
