---
id: "root"
email: "example@yandex.ru"
login: "example_login"
first_name: "Юлия"
second_name: "Аранович"
phone: "11111111111"
---
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../styles/styles.pcss"/>
  <title>Редактировать пароль</title>
</head>
<body>
  <main>
    <div id="{{id}}">
      <div id="profile-form">
        <div id="change-photo-form" class="form">
          {{> photo_preview title=first_name size="large"}}
        </div>
        <form class="form">
          {{> field name="oldPassword" type="password" label="Старый пароль" mandatory=true}}
          {{> field name="newPassword" type="password" label="Новый пароль" mandatory=true}}
          {{> field name="repeatPassword" type="password" label="Повторите новый пароль" mandatory=true}}
          {{> submit_button to="../../static/index.hbs" title="Изменить пароль"}}
        </form>
      </div>
    </div>
  </main>
</body>
</html>
