<div id="profile-form">
  <div id="change-photo-form" class="form">
    {{> photoPreview title=first_name size="large"}}
    <div class="actions">
      <div><a onclick="goTo('changePhotoPage')">Загрузить фото</a></div>
    </div>
  </div>
  <form class="form">
    {{> field name="email" label="Email" value=email disabled=true}}
    {{> field name="login" label="Логин" value=login disabled=true}}
    {{> field name="display_name" label="Имя в чате" value=display_name disabled=true}}
    {{> field name="first_name" label="Имя" value=first_name disabled=true}}
    {{> field name="second_name" label="Фамилия" value=second_name disabled=true}}
    {{> field name="phone" label="Телефон" value=phone disabled=true}}
    <div class="actions">
      <div><a onclick="goTo('profileEditPage')">Изменить данные</a></div>
      <div><a onclick="goTo('passwordEditPage')">Изменить пароль</a></div>
      <div>&nbsp;</div>
      <div><a onclick="goTo('chatListPage')">Назад к чатам</a></div>
      <div>&nbsp;</div>
      <div><a onclick="goTo('authPage')">Выйти</a></div>
    </div>
  </form>
</div>
