<div id="profile-form">
  <div id="change-photo-form" class="form">
    {{> photoPreview title=first_name size="large"}}
  </div>
  <form class="form">
    {{> field name="email" label="Email" value=email mandatory=true}}
    {{> field name="login" label="Логин" value=login mandatory=true}}
    {{> field name="display_name" label="Имя в чате" value=display_name mandatory=true}}
    {{> field name="first_name" label="Имя" value=first_name}}
    {{> field name="second_name" label="Фамилия" value=second_name}}
    {{> field name="phone" label="Телефон" value=phone}}
    {{> submitButton to="profilePage" title="Сохранить"}}
  </form>
</div>
