<div id="auth-form">
  <form class="form">
    {{> field name="email" label="Email" mandatory=true}}
    {{> field name="login" label="Логин" mandatory=true}}
    {{> field name="first_name" label="Имя"}}
    {{> field name="second_name" label="Фамилия"}}
    {{> field name="phone" label="Телефон"}}
    {{> field name="password" type="password" label="Пароль" mandatory=true}}
    {{> field name="repeatPassword" type="password" label="Повторите пароль" mandatory=true}}
    {{> submitButton to="authPage" title="Зарегистрироваться"}}
    <div class="actions">
      <div><a onclick="goTo('authPage')">Войти</a></div>
    </div>
  </form>
</div>
