<div class="field{{#if error}} error{{/if}}">
  {{#if label}}
    <label for={{name}}>{{label}}{{#if mandatory}}<sup>*</sup>{{/if}}</label>
  {{/if}}
  {{{input}}}
  {{#if error}}
    <div class="error-text">{{error_text}}</div>
  {{/if}}
</div>
