<div class="{{className}}">
  <div id="change-photo-modal-background"></div>
  <div id="change-photo-modal">
    <form id="avatarForm">
      <div class="field">
        <h2>Загрузите фото</h2>
      </div>
      <div class="field">
        <label for="avatar">Выберите фото на компьютере</label>
        <input id="avatar" type="file" name="avatar" accept="image/*" />
      </div>
      {{#if chatId}}
        <input id="chatId" type="hidden" name="chatId" value="{{chatId}}"/>
      {{/if}}
      <div class="field">
        {{{submitButton}}}
      </div>
      <div class="actions">
        {{{closeButton}}}
      </div>
    </form>
  </div>
</div>
