<div id="chat-list">
  <div class="profile-link-container">
    <a onclick="goTo('profilePage')">Мой профиль</a>
  </div>
  <div class="form">
    {{> field name="search" value=search placeholder="Поиск по чатам"}}
  </div>
  <div class="chat-blocks">
    {{#each chats}}
      <a class="chat-block {{#if unread}}unread{{/if}} {{#if selected}}selected{{/if}}" onclick="goTo('chatPage')">
        {{> photoPreview title=title}}
        <div class="title">{{title}}</div>
        <div class="meta">

          <div class="unread-count-wrapper">
            {{#if unread}}
              <div class="unread-count">{{unread}}</div>
            {{/if}}
          </div>

          <div class="last-updated">{{last_updated}}</div>
        </div>
      </a>
    {{/each}}
  </div>
</div>
