<link  rel="stylesheet" href="../partials/photo_preview.pcss" />
<div class="photo-preview">
  {{#if title}}
    <div class="default-photo {{#if size}}default-photo__{{size}}{{else}}default-photo__regular{{/if}}">
      {{ title.[0] }}
    </div>
  {{/if}}
</div>
