.default-photo {
  color: white;
  background-color: grey;
  line-height: 1.2;
  padding: 5px;
  text-align: center;
  border-radius: 5px;
  margin: auto;

  &__regular {
    width: 40px;
    height: 40px;
    font-size: 2em;
  }

  &__large {
    width: 100px;
    height: 100px;
    font-size: 5em;
  }

  &__medium {
    width: 70px;
    height: 70px;
    font-size: 3.5em;
  }
}