<div id="chat-list">
  <div class="profile-link-container form">
    <a href="/settings">Мой профиль</a>
  </div>
  {{{searchForm}}}
  <div class="chat-blocks">
    {{#each chats}}
      {{{this}}}
    {{/each}}
  </div>
</div>
