#chat-list {
  width: 30%;
  border-right: 1px solid #22242626;
  padding: 0 1em;

  .profile-link-container {
    text-align: right;
    padding: 0 0 0.5em;

    button {
      width: fit-content;
    }
  }

  .chat-blocks {
    overflow-y: scroll;
    margin: 0;
    padding: 0;
  }
}
