<div class="message-block-wrapper {{#if my}}message-sent{{/if}}">
  <div class="message-block">
    {{#unless my}}
      <div class="author">{{author}}:</div>
    {{/unless}}
    {{#if text}}
      <div class="text">{{text}}</div>
    {{/if}}
    {{#if img}}
      <img class="img" src="{{img}}" />
    {{/if}}
    <div class="date">{{date}}</div>
  </div>
</div>
