<div class="message-block-wrapper {{#if isMine}}message-sent{{/if}}">
  <div class="message-block">
    {{#unless isMine}}
      <div class="author">{{author}}:</div>
    {{/unless}}
    {{#if content}}
      <div class="text">{{content}}</div>
    {{/if}}
    {{#if file}}
      <img class="img" src="{{file}}" crossorigin="use-credentials" />
    {{/if}}
    <div class="date">{{date}}</div>
  </div>
</div>
